body {
    margin-top: 70px; 
    font-family: 'Playfair Display', serif;
    background-color: lightgray;
}

.navi{

    display: flex; 
    justify-content: center;

}
/*you must add flex to both in order to flex-direction property to work*/
.main-nav{
    display: flex;
    flex-direction: row;
}
 nav li {
    list-style: none;
     padding-left: 10px;
     
    
}

nav li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
    color: palevioletred;
    text-transform: uppercase;
    
}

.wrapper a {
    color: #fff; 
}
.wrapper{
    display: flex;
}
.grams {
    background-color: blue; 
    padding: 10px;

}

.kilo{
        background-color: green;
     padding: 10px;
        margin-bottom: 5px; 
}

.oun{
    background-color:red;
     padding: 10px;
    margin-bottom: 5px; 
        
}