body {
    margin-top: 70px; 
    font-family: 'Playfair Display', serif;
    background-color: lightgray;
}

header{
    text-align: center;
}

header li {
    list-style: none;
    
}

header li a {
    text-decoration: none;
}