body {
    margin-top: 70px; 
    font-family: 'Playfair Display', serif;
    background-color: lightgray;
}

.navi{

    display: flex; 
    justify-content: center;

}
/*you must add flex to both in order to flex-direction property to work*/
.main-nav{
    display: flex;
    flex-direction: row;
}
 nav li {
    list-style: none;
     padding-left: 10px;
     
    
}

nav li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
    color: palevioletred;
    text-transform: uppercase;
    
}